#cloud-config
package_update: true

packages:
  - docker.io
  - docker-compose-plugin
  - puppet-agent

runcmd:
  - systemctl enable docker
  - systemctl start docker
  - usermod -aG docker ${admin_username}
